<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tạo layout với các thẻ HTML5 và CSS</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div >
    <header>
        <h1>Monday Times</h1>
    </header>
    <nav>
        <ul>
            <li>News</li>
            <li>Sports</li>
            <li>Weather</li>
        </ul>
    </nav>
    <main>
        <div id="section_article">
            <section id="id_section"><p >a</p></section>
            <article id="id_article"><p >b</p></article>
        </div>
        <aside id="aside"><p >c</p></aside>
    </main>
    <footer id="footers">
        <p>d</p>
    </footer>
</div>

</body>
</html>